.title {
  font-style: normal;
  color: blue;
}
body {
  background-color: grey;
  background-image: url(images/portfolio-image.png);
}
.edu {
  color: yellow;
}
#red {
  color: red;
}
.list{
  color: yellow;
}
.setion {
  float: right;
}
.secion{
  float: left;
}
