.title {
  font-style: normal;
  color: DarkCyan;
  font-family: sans-serif;
}
body {
  background-color: silver;
  color: white;
  padding: 20px;
  font-family: sans-serif;
  font-stretch: expanded;
  font-weight: bold;
}
.edu {
  color: grey;
}
#red {
  font-style: italic;
  font-family: sans-serif;
  color: inherit;
}
.setion {
  float: right;
}
.secion{
  float: left;
}
