.title {
  font-style: normal;
  color: blue;
}
body {
  background-color: cream;
  background-image: url(images/portfolio-image.png);
}
.edu {
  color: grey;
}
#red {
  font-style: italic;
  font-family: sans-serif;
}
.list{
  color: grey;
}
.setion {
  float: right;
}
.secion{
  float: left;
}
